<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post </title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/blog-post.css" rel="stylesheet">

</head>

<body>

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Shop Thập Tam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item " >
            <a class="nav-link" href="/product">Sản phẩm</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact">Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/blogs">Blogs</a>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto">
          <li>
            <a class="btn btn-sm btn-outline-info " href="/signup">Sign up</a>&emsp;
          </li>
          <li>
            <a class="btn btn-sm btn-outline-info  " href="/auth/signIn">Sign in</a>&emsp;
          </li>
          <li>
            <a class="btn btn-sm btn-outline-warning" href="/cart">Giỏ Hàng ( <%= cartLength %> )</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <!--/ Navigation -->
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">9 món đồ mùa hè không thể thiếu của giới trẻ sành điệu thích xê dịch</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">Ly ly thông Minh</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Thứ Sáu 31, Thg5, 2019</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/images/blog/xu huong thoi trang.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">Từ swimsuit, đầm maxi cho đến những món phụ kiện đậm tinh thần mùa hè góp phần làm cho chuyến hành trình của bạn thêm thoải mái và thú vị.

          Cứ hễ đến hè là các cô gái lại phải đau đầu với việc chuẩn bị trang phục cho những chuyến du lịch, hay đơn giản là “đổi gió” cho tủ đồ trong tiết trời nắng nóng. Việc bạn cần làm là xác định rõ những món đồ thời trang thật sự cần thiết, dễ dàng mix&match cùng nhau để tạo nên sự đa dạng trong phong cách mà vẫn không chiếm nhiều diện tích của vali hay tủ quần áo.</p>

        <p>Dưới đây là gợi ý 9 items mà các cô gái nhất định phải có cho mùa hè năm nay, dù là vi vu trong chuyến du lịch hay tung tăng dạo phố “tránh nóng” vào cuối tuần.</p>

        <p>  <b>Jumpsuits</b>

          Đây là món đồ nhỏ gọn và nhẹ dành cho chiếc vali với không gian khiêm tốn.</p>
          <p>Bạn có thể linh hoạt diện jumpsuits trong nhiều dịp khác nhau. Nhấn nhá cùng một vài món trang sức như vòng cổ, bông tai theo phong cách bohemian phóng khoáng cho các bữa tiệc trên biển để thể hiện cá tính riêng.</p>
        <blockquote class="blockquote">
          <p class="mb-0">Nếu vẫn chưa tậu đủ các items này, bạn có thể trải nghiệm mua sắm nhanh chóng và tiện lợi tại https://www.maisononline.vn/</p>
          <footer class="blockquote-footer">Xem thêm bài viết tại
            <cite title="Source Title">Ly ly blogs</cite>
          </footer>
        </blockquote>


        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Danh mục</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Thời trang</a>
                  </li>
                  <li>
                    <a href="#">Xu hướng</a>
                  </li>
                  <li>
                    <a href="#">Cổ điển</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Nghệ thuật</a>
                  </li>
                  <li>
                    <a href="#">Phong cách sống</a>
                  </li>
                  <li>
                    <a href="#">Bộ sưu tập</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Lưu ý</h5>
          <div class="card-body">
            Đây chỉ là ý kiến cá nhân của tác giả, hay post bài và thể hiện ý kiến cá nhân của bạn
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>
