<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Đăng bài</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/admin.css" rel="stylesheet" />
  </head>
  <body>
    <!--===================
        Header
        =======================-->
    <header class="header">
      <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse flex-row-reverse"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item dropdown messages-menu">
              <a
                class="nav-link dropdown-toggle"
                href="http://example.com"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-bell-o"></i>
                <span class="label label-success bg-success">10</span>
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <ul class="dropdown-menu-over list-unstyled">
                  <li class="header-ul text-center">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu list-unstyled">
                      <li>
                        <!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img
                              src="http://via.placeholder.com/160x160"
                              class="rounded-circle  "
                              alt="User Image"
                            />
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img
                              src="http://via.placeholder.com/160x160"
                              class="rounded-circle "
                              alt="User Image"
                            />
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img
                              src="http://via.placeholder.com/160x160"
                              class="rounded-circle "
                              alt="User Image"
                            />
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img
                              src="http://via.placeholder.com/160x160"
                              class="rounded-circle "
                              alt="User Image"
                            />
                          </div>
                          <h4>
                            Sales Department
                            <small
                              ><i class="fa fa-clock-o"></i> Yesterday</small
                            >
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img
                              src="http://via.placeholder.com/160x160"
                              class="rounded-circle "
                              alt="User Image"
                            />
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer-ul text-center">
                    <a href="#">See All Messages</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown notifications-menu">
              <a
                class="nav-link dropdown-toggle"
                href="http://example.com"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-envelope-o"></i>
                <span class="label label-warning bg-warning">10</span>
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <ul class="dropdown-menu-over list-unstyled">
                  <li class="header-ul text-center">
                    You have 10 notifications
                  </li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu list-unstyled">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members
                          joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long
                          description here that may not fit into the page and
                          may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members
                          joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25
                          sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your
                          username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer-ul text-center">
                    <a href="#">View all</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item dropdown  user-menu">
              <a
                class="nav-link dropdown-toggle"
                href="http://example.com"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  src="http://via.placeholder.com/160x160"
                  class="user-image"
                  alt="User Image"
                />
                <span class="hidden-xs">ADMIN</span>
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="main">
      <aside style="float: left;">
        <div class="sidebar left " style="height: 40em;">
          <div class="user-panel">
            <div class="pull-left image">
              <img src="http://via.placeholder.com/160x160" class="rounded-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Admin</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <ul class="list-sidebar bg-defoult">
            <li>
              <a href="/admin" data-toggle="collapse" data-target="#tongquan">
                <i class="fa fa-th-large"></i>
                <span class="nav-label"> Tổng quan</span>
              </a>
            </li>
  
            <li>
              <a href="/admin/warehouse" data-toggle="collapse" data-target="#khohang" class="active">
                <i class="fa fa-th-large"></i>
                <span class="nav-label"> Kho hàng</span>
              </a>
            </li>
            <li>
              <a href="/admin/users" class="active"><i class="fa fa-diamond"></i>
                <span class="nav-label">Người dùng</span></a>
            </li>
            <li>
              <a href="/admin/orders" data-toggle="collapse" data-target="#products" class="active">
                <i class="fa fa-bar-chart-o"></i>
                <span class="nav-label">Đơn hàng</span></a>
            </li>
            <li>
              <a href="/admin/blogs" class="active"><i class="fa fa-laptop"></i>
                <span class="nav-label">Đăng bài</span></a>
            </li>
          </ul>
        </div>
      </aside>

      <div class="container-right">
        <h4>Thêm bài mới</h4>
        <br />
        Tiêu đề<br />
        <input type="text" name="post" style="width: 80%" /><br /><br />

        <button>
          <i class="fa fa-laptop"></i>
          Thêm ảnh/video</button
        ><br /><br />
        <textarea style="width: 80%; height:20em;"></textarea><br /><br />
        <button class="btn btn-info">Đăng bài</button>
      </div>
    </div>
    <!-- ./main -->
  </body>
</html>
