<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet">

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Shop Thập Tam</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/nam">Thời trang nam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/nu">Thời trang nữ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li>
                        <a class="btn btn-sm btn-outline-info active" href="/signup">Sign up</a>&emsp;
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info  " href="/auth/signIn">Sign in</a>&emsp;
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-warning" href="/cart">Giỏ Hàng</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
  <br>
  <div class="container">
    <div class="sidenav">
      <div class="login-main-text">
        <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign in!</legend>
      </div>
    </div>
    <div class="main">
      <div class="col-md-6 col-sm-12">
        <div class="login-form">
          <form name="signInForm" action="/auth/signin" method="post">
            <div class="form-group">
              <label>User Name</label>
              <input type="text" class="form-control" placeholder="User Name" name="username" id="username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password" id="password">
            </div>
            <p></p>
            <button type="submit" class="btn btn-info">Sign in</button>
            <p>New here? Click here to <a href="/signIn">Sign up</a>!</p>

          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="py-5 bg-dark" style="position: absolute;bottom: 0px;width: 100%;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>

  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>